@import url('https://fonts.googleapis.com/css?family=Bree+Serif|Quicksand');

.container11 {
    width: 90vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
 margin-bottom: 30px;
 padding-left: 10vw;
}



.card11 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .15);
    position: relative;
    transition: all .2s ease-in-out;
    background-color: gray;
    color: white;
    border-radius: 5px;
    width: auto;
    width: 450px;
}

.card11:hover {
    /* box-shadow: 0 5px 22px 0 rgba(0,0,0,.25); */
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);

}

.label11 h3 {
    margin: 10px 0;
    display: flex;
    text-align: start;
}


.label11,
p {
    display: block;
    margin-bottom: 5px;
    color: #ffff;
    letter-spacing: 0.5px;
    font-size: 20px;

}

.input11,
textarea {
    
    padding: 12px 5%;
    width: 90%;
    border: 0;
    border-radius: 4px;
    background-color: #FFFFFF;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    color: #2C3E50;
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
    height: 4.5vh;
}

.title11 {
    font-size: 3.444rem;
    color: #1d3247;
    text-align: center;

}

#btn11 {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: goldenrod;
    padding: 12px 5%;
    margin: 20px;
    position: relative;
    color: #FFF;
    font-size: 18px;
    cursor: pointer;
    width: 90%;
    height: 35px;
    border-radius: 5px;

}

.btn11:hover {
    box-shadow: 0 5px 22px 0 rgba(0, 0, 0, .25);
    transition: all .2s ease-in-out;

}
@media screen and (max-width:498px) {
    .card11 {
        width: 280px;
    }
    
}