* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
 
}

.home-container {
  display: flex;
  height: 100vh;
  width: 100%;
  
}

.tittle-home {
  display: flex;
  font-size: 280%;
  font-weight: 600;
  text-transform: uppercase;
  color: whitesmoke;
  position: absolute;
  z-index: 100;
  /* background-color: rgba(0, 0, 0, 0.419); */

}
/* --Bordo: #630303;
--Amarillo: #EEA904;
--Negro: #000000; */




.banner1 {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.76);
  
  
}

.banner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  background-repeat: no-repeat;
  background: center;
  object-fit: cover;
  /* background-color: rgba(0, 0, 0, 0.432); */
  background-image: none;
  opacity: 0.50;

  
}
.subt{
 display: flex;
 flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 900px;
  height: 10vh;
  font-size: 25px;
  background-repeat: no-repeat;
  background: center;
  object-fit: cover;
color: rgb(248, 248, 32);
  background-image: none;
  position: absolute;
  bottom: 330px;
  font-weight: bold;
}
.carrito{

width: 100px;

}
.cr{

}
.picture{
object-fit: cover;

}
.btn1{
  /* border: 3px solid black; */
  

  border-radius: 4px;
  position: absolute;
  z-index: 100;
  margin-top:5rem;
  width: 6rem;
  background-color: rgb(13, 199, 251);
  color: white;

  left: 27rem;

}
.btn2{


  position: absolute;
  z-index: 100;

  margin-top:5rem;
  right: 25rem;

 width: 5.3rem;
 color: white;
 

/* border-radius: 4px;   */
 background-color: rgb(13, 199, 251);
}
.imgCamisetas{
  display: flex;
  margin-left: 26rem;
  justify-content: center;
  align-items: center;
  width: 58rem;

}
.btns{
gap: 20px;
}