:root{
    --background-dark: #2d3548;
    /* --background-dark: #2d3548; */
    --text-light: rgba(255,255,255,0.6);
    --text-lighter: rgba(255,255,255,0.9);
    --spacing-s: 8px;
    --spacing-m: 16px;
    --spacing-l: 24px;
    --spacing-xl: 32px;
    --spacing-xxl: 64px;
    --width-container: 1200px;
    --Bordo: #630303;
    --Amarillo: #eea904;
    --Negro: #000000;
  }
  
  
  *{
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .hero-section{
    align-items: flex-start;
    background-image: linear-gradient(0deg, black 85%, skyblue 140%);
    display: flex;
    flex-direction: column;
    min-height: 100%;
    justify-content: center;
    align-items: center;
    padding: var(--spacing-xxl) var(--spacing-l);
    gap: 1rem;
  }
  
  .card-grid{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-column-gap: var(--spacing-l);
    grid-row-gap: var(--spacing-l);
    max-width: var(--width-container);
    width: 100%;
  }
  
  @media(min-width: 540px){
    .card-grid{
      grid-template-columns: repeat(2, 1fr); 
    }
  }
  
  @media(min-width: 960px){
    .card-grid{
      grid-template-columns: repeat(4, 1fr); 
    }
  }
  
  .cardHome{
    list-style: none;
    position: relative;
    border: none;
  }
  
  .cardHome:before{
    content: '';
    display: block;
    padding-bottom: 150%;
    width: 100%;
    background-color: black;
  }
  
  .card__background{
    background-size: cover;
    background-position: center;
    border-radius: var(--spacing-l);
    bottom: 0;
    filter: brightness(0.75) saturate(1.2) contrast(0.85);
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transform-origin: center;
    transform: scale(1) translateZ(0);
    transition: 
      filter 200ms linear,
      transform 200ms linear;
  }
  
  .cardHome:hover .card__background{
    transform: scale(1.05) translateZ(0);
  }
  
  .card-grid:hover > .cardHome:not(:hover) .card__background{
    filter: brightness(0.5) saturate(0) contrast(1.2) blur(20px);
  }
  
  .card__content{
    left: 0;
    padding: var(--spacing-l);
    position: absolute;
    top: 0;
  }
  
  .card__category{
    color: var(--text-light);
    font-size: 0.9rem;
    margin-bottom: var(--spacing-s);
    text-transform: uppercase;
    color: white;
    font-weight: 400;
  }
  
  .card__heading{
    color: var(--text-lighter);
    font-size: 1.9rem;
    text-shadow: 2px 2px 20px rgba(0,0,0,0.2);
    line-height: 1.4;
    word-spacing: 100vw;
  }

  .tituloNuestrosProductos{
    text-align: center;
    margin: 1rem 0;
    font-family: proxima-nova, sans-serif;
    font-weight: 350;
    font-size: 30px;
    color: white;
    display: block;
  }

  #containerGeneralCardHome{
    margin: 102vh 0 1vh 0;
  }
  
  

  @media only screen and (max-width: 2560px) {
    #containerGeneralCardHome{
      margin: 4vh 0 1vh 0;
    }
  }
  @media only screen and (max-width: 1440px) {
    #containerGeneralCardHome{
      margin: 4vh 0 1vh 0;
    }
  }
  @media only screen and (max-width: 1024px) {
    #containerGeneralCardHome{
      margin: 4vh 0 1vh 0;
    }
  }
  @media only screen and (max-width: 768px) {
    #containerGeneralCardHome{
      margin: 3vh 0 1vh 0;
    }
  }
  @media only screen and (max-width: 425px) {
    #containerGeneralCardHome{
      margin: 2vh 0 1vh 0;
    }
  }
  @media only screen and (max-width: 375px) {
    #containerGeneralCardHome{
      margin: 2vh 0 1vh 0;
    }
  }
  @media only screen and (max-width: 320px) {
    #containerGeneralCardHome{
      margin: 0.5vh 0 1vh 0;
    }
  }
  
  
  
  
  