:root {
    --Bordo: #630303;
    --Amarillo: #EEA904;
    --Negro: #000000;
  }
  .supergeneral-detalle {
    width: 50%;
    display: flex;
    justify-items: center;
    align-items: center;
    background-color: #CCC;
    color: #000;
    font-family: proxima-nova, sans-serif;
    box-shadow: 6px 6px 50px 2px black;
  }
  .contenedor-detalleF {
    width: 100%;
    height: 100%;
    display: flex;
    justify-items: center;
    align-items: center;
  }
  .imagen-producto {
    width: 50%;
    height: 100%;
}


.contenedor-2{
    font-family: 'Montserrat', sans-serif;
    display: flex;
    width: 50%;
    flex-direction: column;
    align-items: center;
    gap: 25px;
}
.nombre-producto{
    font-size: 60px;
    font-weight: 600;
}
.talle-producto{
    display: flex;
    flex-direction: column;
}
.talle-producto h4, .precio-producto h4, .descripcion-producto h4  {
    font-size: 25px;
    text-align: center;
}
/* CAMBIAR DE COLOR DEPENDIENDO EL STOCK */
.talle-producto ul li{
    list-style: none;
    width: 28px;
    height: 28px;
    padding: 5px;
    text-align: center;
    background-color: greenyellow;
    color: black;
    border-radius: 50%;
    font-weight: 600;
    cursor: pointer;
}
.talle-producto ul{
    display: flex;
    justify-content: center;
    gap: 13px;
}
.precio-producto{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 2px solid black;
}
.precio-producto span{
    font-size: 50px;
}

.descripcion-producto{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 50px;
}
.descripcion-producto span{
    font-size: 15px;
    text-align: center;
    font-weight: 500;
    font-style: italic;
}
.comprar-producto span{
    font-size: 19px;
    padding: 10px;
    color: var(--Negro);
    background-color: rgba(0, 0, 0, 0.128);
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
}

.comprar-producto span:hover{
    background-color: var(--Negro);
    color: var(--Amarillo);
}