* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --Bordo: #630303;
  --Amarillo: #eea904;
  --Negro: #000000;
}

@media screen and (min-width: 320px) {
  #containerGeneralNav {
    /* border: 2px solid green; */
    min-height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--Negro);
  }

  #containerRefsNav {
    /*  border: 2px solid red; */
    width: 100%;
    display: flex;
    justify-content: space-around;
    color: white;
    flex-wrap: wrap;
    align-items: center;
    z-index: 10;
  }

  #containerDropdownNav {
    /* border: 2px solid red; */
    position: absolute;
    margin-top: 1.5rem;
    width: 30%;
    min-height: 20%;
    background: none;
    padding: 5px;
    justify-content: center;
    align-items: center;
    z-index: -1;
    right: 105px;
  }

  .itemDropdown {
    color: white;
    margin-top: 1rem;
    font-size: 8px;
    padding: 5px;
  }

  .LinkRefNav {
    font-size: 10px;
    margin: 10px 0px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    z-index: 2;
    text-decoration: none;
    color: white;
  }

  .RefCart {
    font-weight: 900;
    width: 23px;
    height: 23px;
    z-index: 10;
  }

  .LinkIcon {
    /*  border: 2px solid yellow; */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    color: var(--Amarillo);
  }

  #containerIconRefs {
    /*  border: 2px solid greenyellow; */
    display: flex;
    gap: 10px;
    z-index: 1;
  }

  #containerDropdownMenuUser{
    /* border: 2px solid darkgoldenrod; */
    position: absolute;
    margin-top: 8rem;
    background-color: black;
    margin-right: 1.3rem;
    width: auto;
    padding: 10px;
    text-align: center;
    margin-right: 5rem;
    font-size: 10px;
  }

  .itemDropdown2{
    margin: 8px 0;
  }

  .LogoNav{
    width: 65px;
    height: 65px;
  }

  #logoHome {
    width: 25%;
    height: 25%;
    margin: 0 8px;
  }
}

@media screen and (min-width: 425px) and (max-width: 768px) {
  #containerDropdownMenuUser{
    /* border: 2px solid violet; */
    margin-right: 5.3rem;
    margin-top: 8rem;
  }

  #containerIconRefs {
    /*  border: 2px solid greenyellow; */
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 5px;
  }

  #containerRefsNav{
      flex-wrap: nowrap;
  }
}

@media screen and (min-width: 1024px) {
  #containerGeneralNav {
    min-height: 15vh;
    display: flex;
    justify-content: space-between;
    background-color: var(--Negro);
   /*  position: sticky;
    top: 0;
    z-index: 2; */
  }

  #logoHome {
    width:15%;
    height: 30%;
    margin: 0 8px;
    cursor: pointer;
    text-align: center;
  }

  #containerRefsNav {
    /* border: 2px solid red; */
    width: 60%;
    display: flex;
    justify-content: space-around;
    color: white;
    padding: 5px;
  }

  .LinkRefNav {
    /*  border: 2px solid blue; */
    padding: 5px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 14px;
    cursor: pointer;
    position: relative;
    font-weight: 600;
  }
  
  .LinkRefNav:hover{
    color: white;
  }

  .LinkRefNav::after {
    content: "";
    position: absolute;
    height: 2.3px;
    width: 100%;
    background-color: var(--Amarillo);
    right: 0;
    left: 0;
    bottom: 0;
    transform-origin: right;
    transform: scale(0);
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
  }
  .LinkRefNav:hover::after {
    transform-origin: left;
    transform: scale(1);
  }

  #containerDropdownNav {
    /* border: 2px solid red; */
    width: 10rem;
    margin-top: 2.7rem;
    display: flex;
    flex-direction: column;
    left: 0px;
    padding-top: .5rem;
  }

  .itemDropdown {
    /* border: 2px solid blue; */
    font-size: 11px;
    padding: 10px;
    border-radius: 10px 0px 10px 0px;
    font-weight: 600;
    transition: 0.5s ease-in-out;
    text-decoration: none;
    text-align: center;
    color: white;
    background-color: rgba(10, 10, 10, 0.918);
  }

  .itemDropdown:hover {
    transform: scale(1.1);
  }

  #containerIconRefs {
    /*  border: 2px solid greenyellow; */
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 5px;
  }

  .LinkIcon{
      transition: .2s ease;
  }

  .LinkIcon:hover{
      transform: scale(1.1);
      cursor: pointer;
  }

  #containerDropdownMenuUser{
    /* border: 2px solid violet; */
    margin-right: 5.6rem;
    margin-top: 14.5rem;
    width: 10rem;
    color: white;
    z-index: -1;
  }

  .LogoNav{
    width: 100px;
    height: 100px;
  }
}

@media screen and (min-width: 1440px) {
  #containerGeneralNav {
    /* border: 5px solid green; */
    min-height: 12vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(0, 0, 0);
  }

  #logoHome {
    width: 10%;
    height: 100%;
  }

  #containerRefsNav {
    /* border: 2px solid red; */
    width: 50%;
    display: flex;
    justify-content: space-around;
    color: white;
    align-items: center;
  }

  .LinkRefNav {
   /*  border: 2px solid blue; */
    letter-spacing: 0.5px;
    display: flex;
  }

  #containerDropdownNav {
    /* border: 2px solid red; */
    width: 10rem;
    padding: 5px;
    padding-top: 1.5rem;
    z-index: -1;
    margin-top: 3.7rem;
    left: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .itemDropdown {
    border: 1px solid var(--Amarillo);
    width: 100%;
    color: white;
    background-color: rgba(10, 10, 10, 0.918);
    font-size: 13px;
    border-radius: 20px 0px 20px 0px;
    font-weight: 600;
    text-decoration: none;
    text-align: center;
  }

  .itemDropdown:hover{
    color: var(--Amarillo);
  }

  .RefCart {
    font-weight: 900;
    width: 23px;
    height: 23px;
    z-index: 10;
  }

  #containerIconRefs {
    /* border: 2px solid greenyellow; */
    display: flex;
    flex-direction: column;
    gap: 0px;
  }

  #containerDropdownMenuUser{
    /* border: 2px solid violet; */
    margin-right: 5.6rem;
    margin-top: 11rem;
    width: 10rem;
    color: black;
    display: flex;
    flex-direction: column;
    font-size: 15px;
    background: none;
    padding-top: 2rem;
  }

  .itemDropdown2 {
  /*   border: 2px solid blue; */
    color: black;
    background-color: rgba(10, 10, 10, 0.226);
    margin: 1rem 0;
    font-size: 12px;
    border-radius: 20px 0px 20px 0px;
    font-weight: 600;
    padding: 8px;
    transition: .8s ease;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    letter-spacing: .5px;
  }

  .itemDropdown2:hover {
    transform: scale(1.1);
  }
}
