
.carritoItem {
    width: 50%;
    height: 56vh;
    border: 1px solid grey;
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 20px;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.76);
}

.carritoItem h2,
.carritoItem h5,
.carritoItem p {
    color: black;
}

.carritoItem h2 {
    font-size: 2rem;
    font-weight: bold;
}

.fotoytitulocarrito {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    min-height: 20vh;
}

.borrarUnoCarrito {
    width: 10%;
    text-align: center;
    background-color: #878787;
    padding: 5px;
    border-radius: 20px;
    color: black;
    cursor: pointer;
}

.borrarUnoCarrito:hover {
    background-color: rgb(141, 21, 21);
    color: white;
}

.agregarUnoCarrito:hover {
    background-color: rgb(120, 178, 33);
    color: white;
}

.agregarUnoCarrito {
    width: 10%;
    text-align: center;
    background-color: #878787;
    padding: 5px;
    border-radius: 20px;
    color: black;
    cursor: pointer;
}

.borrarTodosCarrito {
    width: 25%;
    text-align: center;
    background-color: #E94533;
    padding: 5px;
    border-radius: 20px;
    color: white;
    cursor: pointer;
}

.borrarTodosCarrito:hover {
    background-color: rgb(69, 0, 0);
}

.botonesDeItemCarrito {
    display: flex;
    justify-content: space-around;
    text-align: center;
}

.botonesDeItemCarrito button {
    height: 40px;
    text-align: center;
}

#detailsCompra {
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#detailsCompra h5 {
    font-size: 2rem;
}

.fotoDeItemCarrito {
    width: 50%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
}

.fotoDeItemCarrito img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

@media screen and (max-width:780px) {

    .carritoItem {
        width: 80vw;
    }

    .carritoItem h2 {
        font-size: 1.4rem;
    }

    #detailsCompra h5 {
        font-size: 1.6rem;
    }
}

@media screen and (max-width:429px) {

    .carritoItem {
        width: 100%;
    }

    #detailsCompra h5 {
        font-size: 1.3rem;
    }
}

@media screen and (max-width:395px) {

    .carritoItem {
        width: 100%;
        gap: 10px;
        padding: 0px;
    }
}