* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  
}

.containerMarket {  display: grid;
    grid-template-columns: 0.5fr 0.5fr 1fr 1fr 1fr 1fr 0.8fr;
    grid-template-rows:  0.6fr 1fr 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "filtro-market- filtro-market- barra-y-nombre barra-y-nombre barra-y-nombre barra-y-nombre barra-y-nombre"
      "filtro-market- filtro-market- articulos articulos articulos articulos void-para-el-mensajero"
      "filtro-market- filtro-market- articulos articulos articulos articulos void-para-el-mensajero"
      "filtro-market- filtro-market- articulos articulos articulos articulos void-para-el-mensajero"
      "filtro-market- filtro-market- articulos articulos articulos articulos void-para-el-mensajero";
    height: 100vh;
        background-color: #161616;
        font-family: proxima-nova, sans-serif;
    }
  
  .filtro-market- { grid-area: filtro-market-; 
    padding-top: 4vh;
    display: flex;
    justify-content: space-around ;
    background-color: #161616;
    
    }

  
  .barra-y-nombre { grid-area: barra-y-nombre; 
    display: flex;
    justify-content: space-around ;
    align-items: center;
    background-color: #161616;

}
  
  .articulos { grid-area: articulos;
    overflow-y: scroll;
    border: 2px solid black;
    box-shadow: 5px 5px #630303;
    z-index: 1;
    margin-bottom: 15px;
    background-color: white;
    display: flex;
    width: 100%;
    height: 98%;
    flex-wrap: wrap;
    justify-content: center;

}
  
  .void-para-el-mensajero { grid-area: void-para-el-mensajero; 
    background-color: #161616;

}

@media only screen and (max-width: 475px) {
      .void-para-el-mensajero {
        display: none;
      }

      .containerMarket {  display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 0.6fr 1.2fr 4fr;
        gap: 0px 0px;
        grid-auto-flow: row;
        grid-template-areas:
        "filtro-market-"
        "barra-y-nombre "
        "articulos";
        height: 100vh;
        }

        .filtro-market- { grid-area: filtro-market-; 
          align-items: center;
          
        }
          
            
        .barra-y-nombre { grid-area: barra-y-nombre; 
              flex-direction: column;
              justify-content:center ;
              gap: 1rem;

        }

        .barra-y-nombre .TopDiv { grid-area: barra-y-nombre; 
       
          padding-top: 1rem;
      
    }
          .barra-y-nombre .BotDiv { grid-area: barra-y-nombre; 
   
            padding-bottom: 1rem;
      }
            
        .articulos { grid-area: articulos;
              overflow-y: scroll;
              box-shadow: none;
          
        }
 }