body {
    font-family: 'Acme', sans-serif;
  }
  
  .SocialA, .SocialB, .SocialC, .SocialD {
    width: 200px;
      margin: 0px;
    position: relative;
    overflow: hidden;
    float: left;
    opacity: 0;
    animation: social 3s infinite;
  }
  
  .SocialA {
    animation-delay: 0;
  }
  .SocialB {
    animation-delay: 0.1s;
  }
  .SocialC {
    animation-delay: 0.2s;
  }
  .SocialD {
    animation-delay: 0.3s ;
  }
  
  @keyframes social {
    0% {
      transform: translate3d(0px,45px,0px);
      opacity: 0;
    }
    10% {
      transform: translate3d(0px,0px,0px);
      opacity: 1;
    }
    30% {
      transform: translate3d(0px,0px,0px);
      opacity: 1;
    }
    40%, 100% {
      transform: translate3d(0px,45px,0px);
      opacity: 0;
    }
  }
  