:root {
    --size: 400px;
    --Bordo: #630303;
    --Amarillo: #EEA904;
    --Negro: #000000;
  }
  body {
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    background-color: var(--Bordo);
    color: #fff;
    font-family: "Roboto Condensed", sans-serif;
  }
  .container {
    width: var(--size);
    height: var(--size);
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: repeat(2, 50%);
    justify-items: center;
    align-items: center;
    filter: drop-shadow(0px 0px 7px rgba(1, 1, 1, .7));
  }
  .productImage {
    grid-column: 1/span 2;
    grid-row: 1 /span 2;
    width: var(--size);
    height: var(--size);
    background-size: cover;
    clip-path: polygon(
      20% 20%,
      50% 20%,
      50% 20%,
      80% 20%,
      80% 50%,
      80% 50%,
      80% 80%,
      50% 80%,
      50% 80%,
      20% 80%,
      20% 50%,
      20% 50%
    );
    transition: all 0.7s cubic-bezier(0.895, 0.03, 0.685, 0.22);
  }
  .shoeImg {
    background-image: url(https://cdn.shopify.com/s/files/1/0015/5841/3357/products/PERCHAS-ARGENTINA-WOMEN-CUERVO_550x.png?v=1627407396);
  }
  .shirtImg {
    background-image: url(https://cdn.shopify.com/s/files/1/0015/5841/3357/products/PERCHAS-ARGENTINA-WOMEN-ANCLA_550x.png?v=1627407389);
  }
  h4,
  ul,
  span {
    padding: 0;
    margin: 0;
  }
  .size {
    grid-column: 1;
    grid-row: 1;
    margin-top: 10%;
    justify-self: center;
    z-index: 1;
    opacity: 0;
    transition: all 0.6s cubic-bezier(0.895, 0.03, 0.685, 0.22);
  }
  .size ul li{
    list-style: none;
    width: 28px;
    height: 28px;
    margin: 5px;
    padding: 5px;
    text-align: center;
    background-color: rgba(0,0,0,0.5);
    color: #FFF;
    font-size: .7rem;
    font-weight: 900;
    border-radius: 50%;
  }
  .price {
    grid-column: 2;
    grid-row: 1;
    justify-self: center;
    z-index: 1;
    opacity: 0;
    transition: all 0.6s cubic-bezier(0.895, 0.03, 0.685, 0.22);
  }
  .price h4 {
    color: #fff;
    margin-bottom: 8px;
  }
  .price span {
    width: 20px;
    height: 20px;
    padding: 5px;
    color: var(--Amarillo);
    font-weight: 900;
    background-color: rgba(0, 0, 0, 0.5);
  }

  .comprar {
    grid-column: 2;
    grid-row: 2;
    justify-self: center;
    z-index: 1;
    opacity: 0;
    transition: all 0.6s cubic-bezier(0.895, 0.03, 0.685, 0.22);
    cursor: pointer;
  }
  .comprar span {
    width: 20px;
    height: 20px;
    padding: 5px;
    color: #fff;
    background-color: rgba(0,0,0,0.5);
    font-weight: 600;
    border-radius: 5px;
  }

  .comprar span:hover{
    background-color: var(--Amarillo);
  }
  .link{
    text-decoration: none;
  }

  .productName {
    grid-column: 1;
    grid-row: 2;
    align-self: center;
    justify-self: center;
    z-index: 1;
    transition: all 0.7s cubic-bezier(0.895, 0.03, 0.685, 0.22);
  }
  
  .productImage:hover {
    clip-path: polygon(
      20% 0%,
      50% 0%,
      50% 20%,
      100% 20%,
      100% 50%,
      80% 50%,
      80% 100%,
      50% 100%,
      50% 80%,
      0% 80%,
      0% 50%,
      20% 50%
    );
    transform: rotate(-15deg);
    transition: all 0.4s cubic-bezier(0.86, 0, 0.07, 1);
  }
  .productImage:hover ~ * {
    opacity: 1;
    transform: rotate(-15deg);
    transition: all 0.4s cubic-bezier(0.86, 0, 0.07, 1);
  }
  .credits{
      color:white;
      font-size: 1.2rem;
      grid-column: 1 / -1 ;
      justify-self: center;
      text-align: center;
  }